---
export interface Props {
  project: string;
  image: string;
  alt: string;
  paragraph: string;
  github: string;
  deploy: string;
  technologies: string[];
}

const { project, image, alt, paragraph, github, deploy, technologies } = Astro.props;
---


  <div class="details" data-barba="container" data-barba-namespace="details">
    <div class="details__cover">
      <img src={image} alt={alt}>
      <div class="details__responsive">
        <h3>{project}</h3>
        <p>{paragraph}</p>
        <div class="details__responsive--technologies">
          {technologies.map(technology => (
            <span>{technology}</span>
          ))}
        </div>
      </div>

      <div class="details__buttons">
        <a href={github}>Github</a>
        <a href={deploy}>Deployment</a>
      </div>
    </div>

    <div class="details__content">
      <h3>{project}</h3>
      <p>{paragraph}</p>
      <div class="details__technologies">
        {technologies.map(technology => (
          <p>{technology}</p>
        ))}
      </div>
    </div>
  </div>
