---
const { project, image, alt, paragraph, github, deploy } = Astro.props;
---

  <div class="details">
    <div class="details__visual">
      <img src={image} alt={alt}>
      <div class="details__responsive">
        <h3>{project}</h3>
        <p>{paragraph}</p>
      </div>
      <div class="details__buttons">
        <a href={github}>Github</a>
        <a href={deploy}>Deployment</a>
      </div>
    </div>

    <div class="details__content">
      <h3>{project}</h3>
      <p>{paragraph}</p>
    </div>
  </div>